/* .bcg-img {
  background-image: url("../../assets/bg.jpg");
  height: 40rem;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

} */

.card1{
    background: transparent;
    backdrop-filter: blur(10px);
    height: 35rem;
    width: 35rem;
    border: 1px solid rgb(97, 96, 96);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card2{
    background: transparent;
    backdrop-filter: blur(10px);
    height: 35rem;
    width: 35rem;
    border: 1px solid rgb(90, 89, 89);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 4rem;
    
}